body{
    margin: 0;
}
.nav-contain a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 5px;
    margin:3px;
    color: brown;
}
.nav-contain{
    display: flex;
    justify-content: space-between;
    
    background-color: aquamarine;
}
#link{
    padding-top: 20px;
}
.food-contant{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.food{
    border: 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    padding-bottom: 5px;

}
.food img{
    margin: auto;
    width: 100%;
}
p{
    text-align: justify;
}
@media screen and (max-width:576px){
    .food-contant{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    
}
@media screen and (min-width:577px) and (max-width:992px){
    .food-contant{
        
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    
}
footer{
    background-color: dimgray;
    color: aliceblue;
    text-align:center
}